body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
}

header {
    background: gray;
    padding: 2rem;
    grid-column: 1 / 4;
}

main {
    background: lightgrey;
    grid-column: 2 / 3;
}

.s1 {
    background: lightblue;
    grid-column: 1 / 2;
    padding: 1rem;
}

.s2 {
    background: darkblue;
    grid-column: 3 / 4;
    padding: 1rem;
}

footer {
    background: gray;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
}